extends layout

block content
  h1 Book a Room
  form(action='/booking' method='post')
    label(for='name') Name:
    input(type='text' name='name' required)
    br
    label(for='email') Email:
    input(type='email' name='email' required)
    br
    label(for='room') Room Type:
    select(name='room')
      option(value='deluxe') Deluxe
      option(value='suite') Suite
      option(value='family') Family
    br
    label(for='date') Check-in Date:
    input(type='date' name='date' required)
    br
    button(type='submit') Confirm Booking
