extends layout

block content
  h1 Welcome to Hotel Paradise
  p Your comfort is our priority.
  ul
    li: a(href='/rooms') View Rooms
    li: a(href='/booking') Book a Room
    li: a(href='/services') Our Services
    li: a(href='/contact') Contact Us
