extends layout

block content
  h1 Our Rooms
  p Choose from a variety of room types to suit your needs.
  ul
    li Deluxe Room – $120/night
    li Suite – $250/night
    li Family Room – $180/night
  p
    a(href='/booking') Book Now →
